## 1 calculadora en matrix

In [17]:
import numpy as np

In [36]:
def calculate(list):
    ls = np.array(list)
    if len(ls) < 9:
        return 'Not a 3x3'

    me_a1, va_a1, st_a1, ma_a1, mi_a1, su_a1 = [],[],[],[],[],[]
    me_a2, va_a2, st_a2, ma_a2, mi_a2, su_a2 = [],[],[],[],[],[]
    me_ag, va_ag, st_ag, ma_ag, mi_ag, su_ag = [],[],[],[],[],[]
    
    for i in range(7):
        if i <= 2:
            arrx = arr[:,i] 
            me_a1.append(np.mean(arrx))
            va_a1.append(np.var(arrx))
            st_a1.append(np.std(arrx))
            ma_a1.append(np.amax(arrx))
            mi_a1.append(np.amin(arrx))
            su_a1.append(np.sum(arrx))
        if i > 2 and i <= 5:
            arrx = arr[i-3]
            me_a2.append(np.mean(arrx))
            va_a2.append(np.var(arrx))
            st_a2.append(np.std(arrx))
            ma_a2.append(np.amax(arrx))
            mi_a2.append(np.amin(arrx))
            su_a2.append(np.sum(arrx))
        if i == 6:
            arrx = arr
            me_ag = np.mean(arrx)
            va_ag = np.var(arrx)
            st_ag = np.std(arrx)
            ma_ag = np.amax(arrx)
            mi_ag = np.amin(arrx)
            su_ag = np.sum(arrx)
    
    resdic = {
      'mean': [me_a1,me_a2,me_ag],
      'variance': [va_a1,va_a2,va_ag],
      'standard deviation': [st_a1,st_a2,st_ag],
      'max': [ma_a1,ma_a2,ma_ag],
      'min': [mi_a1,mi_a2,mi_ag],
      'sum': [su_a1,su_a2,su_ag]
    }

resdic

## 2 respuesta a problema demogrÃ¡fico

In [144]:
import numpy as np
import pandas as pd
print(pd.__version__)

1.4.2

In [141]:
df = pd.read_csv('adult.data.csv')

In [147]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [148]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [150]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

## 2.1
How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [157]:
df.groupby('race')['workclass'].count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: workclass, dtype: int64

In [294]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## 2.2
What is the average age of men?

In [163]:
df.loc[df['sex'] == 'Male','age'].mean()

39.43354749885268

In [298]:
df[df['sex'] == 'Male']['age'].mean()

39.43354749885268

## 2.3
What is the percentage of people who have a Bachelor's degree?

In [170]:
df.loc[df['education'] == 'Bachelors','age'].count()

5355

In [172]:
df['age'].count()

32561

In [176]:
round(df.loc[df['education'] == 'Bachelors','age'].count() / df['age'].count() *100 , 1)

16.4

## 2.4
What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [218]:
df.groupby('education')['age'].count()

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: age, dtype: int64

In [223]:
df.groupby(df.education.isin(['Bachelors','Masters','Doctorate']))['age'].count()

education
False    25070
True      7491
Name: age, dtype: int64

In [214]:
(df.education.isin(['Bachelors','Masters','Doctorate'])) & (df.salary == '>50K')

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Length: 32561, dtype: bool

In [225]:
df[(df.education.isin(['Bachelors','Masters','Doctorate'])) & (df.salary == '>50K')]['age'].count()

3486

In [226]:
df[(df.education.isin(['Bachelors','Masters','Doctorate']))]['age'].count()

7491

In [229]:
res = df[(df.education.isin(['Bachelors','Masters','Doctorate'])) & (df.salary == '>50K')]['age'].count() / df[(df.education.isin(['Bachelors','Masters','Doctorate']))]['age'].count()

In [231]:
round(res*100,1)

46.5

## 2.5
What percentage of people without advanced education make more than 50K?

In [238]:
df[(~df.education.isin(['Bachelors','Masters','Doctorate'])) & (df.salary == '>50K')]['age'].count()

4355

In [242]:
df[(~df.education.isin(['Bachelors','Masters','Doctorate']))]['age'].count()

25070

In [243]:
res = df[(~df.education.isin(['Bachelors','Masters','Doctorate'])) & (df.salary == '>50K')]['age'].count() / df[(~df.education.isin(['Bachelors','Masters','Doctorate']))]['age'].count()

In [244]:
round(res*100,1)

17.4

## 2.6
What is the minimum number of hours a person works per week?

In [247]:
df['hours-per-week'].min()

1

## 2.7
What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [254]:
df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]['age'].count()

2

In [256]:
res = df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]['age'].count() / df[df['hours-per-week'] == 1]['age'].count()

In [257]:
round(res*100,1)

10.0

## 2.8
What country has the highest percentage of people that earn >50K and what is that percentage?

In [305]:
df['native-country'].value_counts().head()

United-States    29170
Mexico             643
?                  583
Philippines        198
Germany            137
Name: native-country, dtype: int64

In [306]:
df[df['salary'] == '>50K']['native-country'].value_counts().head()

United-States    7171
?                 146
Philippines        61
Germany            44
India              40
Name: native-country, dtype: int64

In [313]:
df2 = round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts() *100, 2)

In [318]:
df2.sort_values(ascending=False).head()

Iran      41.86
France    41.38
India     40.00
Taiwan    39.22
Japan     38.71
Name: native-country, dtype: float64

In [314]:
df2.idxmax()

'Iran'

## 2.9
Identify the most popular occupation for those who earn >50K in India.

In [329]:
df3 = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().sort_values(ascending = False)

In [330]:
df3

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [331]:
df3.idxmax()

'Prof-specialty'